{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Potwierdz e-mail" %}{% endblock %}


{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron login-jumbotron">
            <h2 class="center">{% trans "Potwierdz adres e-mail" %}</h2>

            {% if confirmation %}

                {% user_display confirmation.email_address.user as user_display %}

                <p class="center">{% blocktrans with confirmation.email_address.email as email %}Proszę potwierdź że
                    <a href="mailto:{{ email }}">{{ email }}</a> jest adresem użytkownika {{ user_display }}
                    .{% endblocktrans %}</p>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <button class="sign-in-button btn btn-primary center" type="submit">{% trans 'Potwierdź' %}</button>
                </form>

            {% else %}

                {% url 'account_email' as email_url %}

                <p>{% blocktrans %}Ten link potwierdzający e-mail wygasł lub jest nieważny.
                    <a href="{{ email_url }}">Kliknij tutaj jeśli chcesz ponownie dostać e-mail z potwierdzającym linkiem</a>.{% endblocktrans %}</p>

            {% endif %}
        </div>
    </div>
{% endblock %}
