{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron login-jumbotron">
            <a href="/accounts/facebook/login/">
                <div class="fb"></div>
            </a>
            {% include "socialaccount/snippets/login_extra.html" %}

            <div class="header center">Lub zaloguj się bezpośrednio</div>

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Zapomniałeś hasła?" %}</a>
                <button class="btn btn-primary center sign-in-button" type="submit">{% trans "Zaloguj się" %}</button>
            </form>

            <div class="footnote center">
                Nie masz konta? Zaloguj się przez facebooka lub <a href="{% url 'account_signup' %}">zarejestruj się.</a>
            </div>

        </div>
    </div>
{% endblock %}
