{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Resetuj hasło" %}{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron login-jumbotron">
            <h2 class="center">{% trans "Resetuj hasło" %}</h2>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <div class="center header">
                {% trans "Zapomniałeś hasła? Wpisz adres e-mail poniżej, a ja wyślę Ci e-mail pozwalający je zresetować." %}</div>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="sign-in-button btn btn-primary center" type="submit"
                       value="{% trans 'Resetuj' %}"/>
            </form>

            <div class="footnote center"
            >{% blocktrans %}Proszę, skontaktuj się ze mną jeśli masz jakiś problem z zresetowaniem hasła.{% endblocktrans %}</div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock footer %}
