{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron login-jumbotron">
            <h2 class="center">{% trans "Password Reset" %}</h2>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <div class="center header">
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</div>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="sign-in-button btn btn-primary center" type="submit"
                       value="{% trans 'Reset My Password' %}"/>
            </form>

            <div class="footnote center"
            >{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</div>
        </div>
    </div>
{% endblock %}
