{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Zmień hasło" %}{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron login-jumbotron">
            <h2 class="center">
                {% if token_fail %}{% trans "Zły token" %}{% else %}{% trans "Zmień hasło" %}{% endif %}</h2>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}Link jest niepoprawny, prawdopodobnie został już wcześniej użyty.
                    Kliknij tu aby wysłać zapytanie o kolejny <a href="{{ passwd_reset_url }}">link resetujący</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br/>
                        <input class="btn btn-primary sign-in-button center" type="submit" name="action"
                               value="{% trans 'zmień hasło' %}"/>
                    </form>
                {% else %}
                    <p>{% trans 'Twoje hasło zostało zmienione.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock footer %}