{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Zmień hasło" %}{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron login-jumbotron">
            <h2 class="center">{% trans "Zmień hasło" %}</h2>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="sign-in-button btn btn-primary center" type="submit"
                        name="action">{% trans "Zmień hasło" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
