{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron login-jumbotron">
            <h2 class="center">{% trans "Your password has been changed." %}</h2>
            <div class="center header"><a href="{% url 'account_login' %}" >Sign in </a>or go to <a href="{% url 'home_page' %}" >home page.</a></div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock footer %}