{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Zresetuj hasło" %}{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron login-jumbotron">
            <h2 class="center">{% trans "Zresetuj hasło" %}</h2>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <div class="header center">{% blocktrans %}Wysłałem Ci e-mail. Proszę, skontaktuj się ze mną jeśli go nie
                dostaniesz w ciągu kilku minut.{% endblocktrans %}</div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock footer %}