{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron login-jumbotron">
            <h2 class="center">{% trans "Twoje hasło zostało zmienione." %}</h2>
            <div class="center header"><a href="{% url 'account_login' %}">Zaloguj się </a>lub przenieś na stronę <a
                    href="{% url 'posts:list' %}">domową</a>.
            </div>
        </div>
    </div>
{% endblock %}
