{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron login-jumbotron">
            <h2 class="center">{% trans "Password Reset" %}</h2>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <div class="header center">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                minutes.{% endblocktrans %}</div>
        </div>
    </div>
{% endblock %}
