{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Rejestracja | Dawid Urbaniak" %}{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron login-jumbotron">
            <h2 class="center">{% trans "Rejestracja" %}</h2>

            <div class="header center">{% blocktrans %}Masz już konto?
                <a href="{{ login_url }}">Zaloguj się</a>.{% endblocktrans %}</div>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <br/>
                <button class="sign-in-button center btn btn-primary"
                        type="submit">{% trans "Zarejestruj" %} &raquo;</button>
            </form>
        </div>
    </div>
{% endblock %}
