html {
    position: relative;
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 50px;
    background-color: #EEEEEE;
    font-family: 'Open Sans Condensed';
}

.container {
    min-height: 100%;
    color: #000 !important;
}

.float-right {
    float: right;
    display: block;
}

h1 {
    color: #444;
}

small {
    color: inherit !important;
}

textarea.form-control {
    height: 100px;
}

button.link {
    background: none !important;
    color: #337ab7;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

button.link:hover {
    color: #337acc;
}

span.btn-group {
    display: inline-block;
}

.validation-message {
    display: none;
    color: #a94442;
    font-size: 14px;
    font-weight: 700;
}

.showen {
    display: block;
}

.hidden {
    display: none;
}

.wmd-panel {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.fb {
    background: url('/static/img/fb.png') no-repeat center top;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .7);
    border-radius: 5px;
    width: 198px;
    height: 37px;
    margin: 60px auto;
    overflow: hidden;
}

.header {
    font-size: 19px;
}

.center {
    margin: 10px auto;
    display: block;
    text-align: center;
}

.login-jumbotron {
    margin-top: 40px;
    padding-top: 20px;
}

.remember-forgot-section {
    width: 31%;
    text-align: left;
    margin: 8px auto;
    font-size: 11px;
}

.footnote {
    position: relative;
    top: 14px;
    font-size: 11px;
}

.sign-in-button {
    min-width: 150px;
}

a:hover {
    text-decoration: none;
}

.black-color {
    color: black;
}

.jumbotron p {
    font-size: 14px;
}

.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}

.panel > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

.overflow-break-word {
    overflow-wrap: break-word;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.padding15 {
    padding-left: 15px;
    padding-right: 15px;
}

.margin-bottom15 {
    margin-bottom: 15px !important;
}

.underlined {
    width: 50%;
    border-bottom: 1px solid #f16c20;
}