{% extends "about_base.html" %}
{% load static %}

{% block content %}
    <div class="about-content">
        <div class="container">
            <h1 class="center white-color about-header">O mnie</h1>
            <img src="{% static 'img/me1.jpg' %}" class="img-responsive center img-circle about-photo">
            <p class="lead white-color">
                Cześć, nazywam się Dawid Urbaniak i jestem junior developerem. Studiuję informatykę na Politechnice Łódzkiej.
                Interesuję się programowaniem a w wolnych chwilach gram w tenisa stołowego.
                Stworzyłem tego oto bloga aby poznać świat programowania webowego, który od zawsze mnie interesował.
                Blog napisany jest w Django na back-endzie oraz jQuery i Bootstrap na front-endzie.
            </p>
            <h1 class="center white-color about-sub-header">Umiejętności</h1>
            <div class="row">
                <div class="col-sm-4">
                    <div><i class="icon-jquery center" style="font-size: 40px; color: #ebe5c8;"></i>
                        <p class="lead white-color center">
                            jQuery
                        </p>
                    </div>
                    </br>
                    <div><i class="icon-html5-alt center" aria-hidden="true"
                            style="font-size: 50px; color: #ebe5c8;"></i>
                        <p class="lead white-color center">
                            Html + Css
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div><i class="icon-python center" style="font-size: 40px; color: #ebe5c8;"></i>
                        <p class="lead white-color center">
                            Python + Django
                        </p>
                    </div>
                    </br>
                    <div><i class="fa fa-github center" aria-hidden="true" style="font-size: 50px; color: #ebe5c8;"></i>
                        <p class="lead white-color center" style="padding-top: 25px;">
                            Git + GitHub
                        </p>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom: 50px;">
                    <div><i class="icon-cplusplus center" style="font-size: 40px; color: #ebe5c8;"></i>
                        <p class="lead white-color center">
                            Qt + C++
                        </p>
                    </div>
                    </br>
                    <div><i class="icon-bootstrap center" style="font-size: 40px; color: #ebe5c8;"></i>
                        <p class="lead white-color center" style="padding-top: 15px;">
                            Bootstrap
                        </p>
                    </div>
                </div>
            </div>
            <h1 class="center white-color about-sub-header">Doświadczenie</h1>
            <div class="row" style="margin-bottom: 100px;">
                <div class="col-sm-6">
                    <div class="col-sm-offset-3 col-sm-6">
                        <img src="{% static 'img/cybercom.png' %}" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6">
                    <h1 class="white-color">Cybercom Poland</h1>
                    <div class="about-job white-color">Junior Software Developer</div>
                    <div class="about-time white-color">
                        <small>Październik 2016 - Kwiecień 2017</small>
                    </div>
                    </br>
                    <div class="lead white-color" style="font-size: 18px;">
                        Byłem częścią zespołu który w dalszym ciągu pracował nad rozwojem aplikacji stażowej.
                        Dodatkowo rozwijaliśmy narzędzie służące do testowania sieci LTE.
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 100px;">
                <div class="col-sm-6">
                    <div class="col-sm-offset-3 col-sm-6">
                        <img src="{% static 'img/cybercom.png' %}" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6">
                    <h1 class="white-color">Cybercom Poland</h1>
                    <div class="about-job white-color">Trainee</div>
                    <div class="about-time white-color">
                        <small>Lipiec 2016 - Wrzesień 2016</small>
                    </div>
                    </br>
                    <div class="lead white-color" style="font-size: 18px;">
                        W raz z zespołem tworzyliśmy od podstaw aplikację desktopową wykorzystywaną przez testerów sieci LTE
                        do automatyzacji ich pracy. Wykorzystywanymi technologiami były C++ oraz framework Qt.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}