{% load crispy_forms_tags %}

<div class="padding-sides-15">
    <p class="lead">Komentarze</p>
    <form method="POST" action="." class="comment-create">{% csrf_token %}
        {{ comment_form|crispy }}
        <input id="comment-user-validator" type="hidden" value="{{ user.is_authenticated }}">
        <div id="comment-content-validation-message" class="validation-message">
            <p>Musisz być zalogowany aby dodawać komentarze.</p>
            <p class="black-color"><a href="{% url "account_login" %}">Zaloguj </a>lub <a
                    href="{% url "account_signup" %}">zarejestruj </a>się jeśli nie masz jeszcze konta.</p>
        </div>
        <div id="empty-content-validation-message" class="validation-message">
            <p>Komentarz musi zawierać co najmniej 3 znaki.</p>
        </div>
        <button class="btn btn-default">Opublikuj</button>
    </form>
    <br/>
    <br/>
</div>
<div id="comments">
    {% for comment in object.comments %}
        <div id="{{ comment.id }}">
            <div class="row nopadding margin-bottom15 comment">
                <div class="comment-not-edited">
                    <div class="col-sm-2">
                        <img class="img-responsive img-thumbnail"
                             src="{{ comment.user.profile.profile_image_url }}">
                    </div><!-- /col-sm-1 -->

                    <div class="col-sm-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>
                                    {% if comment.user.get_full_name %}
                                        {{ comment.user.get_full_name }}{% else %}
                                        {{ comment.user }}{% endif %}</strong>
                                <span class="text-muted">{{ comment.updated|timesince }} ago | <div id="children-amount"
                                                                                                    style="display: inline;">{{ comment.children.count }}
                                Odpowied{% if comment.children.count > 1 or comment.children.count == 0 %}zi
                                    {% else %}ź{% endif %} | </div><a href="#"
                                                                class="comment-reply-btn">Pokaż</a>
                                    {% if user == comment.user %} |
                                        <a href="#" class="comment-edit-btn">Edytuj</a> |
                                        <form method="POST" action="." class="comment-delete"
                                              style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                            <button type="submit" class="link">Usuń</button>
                                        </form>
                                    {% endif %}
                                    </span>
                            </div>
                            <div id="content{{ comment.id }}"
                                 class="panel-body overflow-break-word">{{ comment.content }}</div>
                            <!-- /panel-body -->
                        </div><!-- /panel panel-default -->
                    </div>
                </div><!-- /col-sm-10 -->
                <div class="comment-edited margin-bottom-15" style="display:none;"> <!-- Edit comment form -->
                    <form method="POST" action="." class="comment-edit">{% csrf_token %}
                        {{ comment_form|crispy }}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <p id="comment-content-validation-message"
                           class="validation-message">Komentarz nie może być pusty.</p>
                        <button type="submit" class="btn btn-default margin-bottom-15">Zapisz</button>
                    </form>
                </div>
                <div class="comment_reply" style="display: none;">
                    <div class="row nopadding margin-bottom15">
                        <div id="child-comments" class="col-sm-10 pull-right nopadding">
                            {% for child in comment.children %}
                                <div id="{{ child.id }}">
                                    <div class="comment-not-edited">
                                        <div class="col-sm-2">
                                            <img class="img-responsive img-thumbnail"
                                                 src="{{ child.user.profile.profile_image_url }}">
                                        </div><!-- /col-sm-2 -->

                                        <div class="col-sm-10">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <strong>{% if child.user.get_full_name %}
                                                        {{ child.user.get_full_name }}{% else %}
                                                        {{ child.user }}{% endif %}</strong>
                                                    <span class="text-muted">{{ child.updated|timesince }} ago
                                                        {% if user == child.user %} |
                                                            <a href="#"
                                                               class="comment-edit-btn">Edytuj</a> |
                                                            <form method="POST" action="."
                                                                  class="comment-delete"
                                                                  style="display: inline;">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="comment_id"
                                                                       value="{{ child.id }}">
                                                                <button type="submit" class="link">Usuń</button>
                                                                </form>
                                                        {% endif %}
                                                        </span>
                                                </div>
                                                <div id="content{{ child.id }}"
                                                     class="panel-body overflow-break-word">{{ child.content }}</div>
                                                <!-- /panel-body -->
                                            </div><!-- /panel panel-default -->
                                        </div>
                                    </div>
                                    <div class="comment-edited margin-bottom-15 padding-sides-15"
                                         style="display: none">
                                        <form method="POST" action="."
                                              class="comment-edit">{% csrf_token %}
                                            {{ comment_form|crispy }}
                                            <input type="hidden" name="comment_id"
                                                   value="{{ child.id }}">
                                            <p id="comment-content-validation-message"
                                               class="validation-message">Komentarz nie może być pusty.</p>
                                            <button type="submit" class="btn btn-default margin-bottom-15">Zapisz
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                            <form method="POST" action="."
                                  class="comment-create margin-bottom-15 padding-sides-15">{% csrf_token %}
                                {{ comment_form|crispy }}
                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                <input id="comment-user-validator" type="hidden"
                                       value="{{ user.is_authenticated }}">
                                <div id="comment-content-validation-message" class="validation-message">
                                    <p>Musisz być zalogowany aby dodawać komentarze. </p>
                                    <p class="black-color"><a href="{% url "account_login" %}">Zaloguj </a>lub <a
                                            href="{% url "account_signup" %}">zarejestruj się </a>jeśli nie masz jeszcze
                                        konta.</p>
                                </div>
                                <div id="empty-content-validation-message" class="validation-message">
                                    <p>Komentarz musi zawierać co najmniej 3 znaki.</p>
                                </div>
                                <button type="submit" class="btn btn-default">Odpowiedz</button>
                            </form>
                        </div><!-- /col-sm-10 -->
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>