{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
    {{ object.title }} | {{ block.super }}
{% endblock head_title %}

<style>
    {% block style %}
    {% endblock style %}
</style>

{% block content %}
    <div class="row margin-top-15">
        <div class="col-sm-8">
            <div class="white-box">
                <div class="white-box">
                    {% if object.image %}
                        <img src="{{ object.image.url }}" class="img-responsive">
                        <br/>
                    {% endif %}
                    <h1 class="oranged">{{ object.title }}</h1>
                    <h2>
                        <small>{% if object.draft %}
                            <span style="color:red;">Draft</span>{% endif %} {{ object.publish }}
                            <small>by {{ object.user.get_full_name }}        {% if user == object.user %}
                                <button type="button" style="display: inline;" class="link pull-right"
                                        data-toggle="modal"
                                        data-target="#myModal">Delete this post
                                </button>
                            {% endif %}</small>
                        </small>
                    </h2>

                    </hr>
                    <div class="post-detail-item">{{ object.get_markdown }}</div>
                    </br>
                    </hr>
                    {#        <p>#}
                    {#        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count"#}
                    {#             data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>#}
                    {#        </p>#}
                </div>
            </div>
            </br>


        {% include "comments.html" %}

        </div>

        <div class="col-sm-3 col-sm-offset-1">
            <div class="sidebar-module white-box">
                <h3 class="underlined">O mnie</h3>
                <p>Cześć! Nazywam sie Dawid, jestem junior programistą, studiuję informatykę na
                    politechnice łódzkiej, zawodowo programuję w C++. W niedalekiej przyszłości mam zamiar zacząć
                    przygodę z programowaniem webowym. Pierwszym krokiem było napisanie tego bloga przy użyciu
                    frameworku "Django".</p>
            </div>
            <div class="sidebar-module">
                <h3 class="underlined">Archiwa</h3>
                <ol class="sidebar-list">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <h3 class="underlined">Linki</h3>
                <ol class="sidebar-list">
                    <li><a href="https://github.com/Trancever">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/dawid-urbaniak-a21940127/">Linkedin</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="center modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Do you really want to delete this post?</h4>
                </div>
                <div class="modal-body">
                    <div class="header center">{{ object.title }}</div>
                </div>
                <div class="modal-footer">
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <input type="SUBMIT" class="btn btn-warning" value="Delete">
                        <input type="hidden" name="post_title" value="{{ object.title }}">
                        <a href="{{ object.get_absolute_url }}" class="btn btn-default">Cancel</a>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}