{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %}
{% endblock head_extra %}

{% block content %}
    <div class="jumbotron" style="padding-bottom: 100px;" >
        <div class="col-sm-6 col-sm-offset-3">
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <p>Are you sure you want to delete: "{{ object.title }}"?</p>
                <input type="SUBMIT" class="btn btn-warning" value="Delete">
                <input type="hidden" name="post_title" value="{{ object.title }}">
                <a href="{{ object.get_absolute_url }}" class="btn btn-default">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}