<div class="col-sm-3 col-sm-offset-1">
    <div class="sidebar-module white-box">
        <h3 class="underlined">O mnie</h3>
        <p>Cześć! Nazywam sie Dawid, jestem junior programistą, studiuję informatykę na
            politechnice łódzkiej, zawodowo programuję w C++. W niedalekiej przyszłości mam zamiar zacząć
            przygodę z programowaniem webowym. Pierwszym krokiem było napisanie tego bloga przy użyciu
            frameworku "Django".</p>
    </div>
    <div class="sidebar-module">
        <h3 class="underlined">Linki</h3>
        <ol class="sidebar-list">
            <li><a href="https://github.com/Trancever">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/dawid-urbaniak-a21940127/">Linkedin</a></li>
        </ol>
    </div>
</div><!-- /.blog-sidebar -->