<div class="col-sm-3 col-sm-offset-1">
    <div class="sidebar-module white-box">
        <h3 class="underlined">O mnie</h3>
        <p>Cześć! Nazywam sie Dawid, jestem junior programistą, studiuję informatykę na
            politechnice łódzkiej, zawodowo programuję w C++. W niedalekiej przyszłości mam zamiar zacząć
            przygodę z programowaniem webowym. Pierwszym krokiem było napisanie tego bloga przy użyciu
            frameworku "Django".</p>
    </div>
{#    <div class="sidebar-module">#}
{#        <h3 class="underlined">Archiwa</h3>#}
{#        <ol class="sidebar-list">#}
{#            <li><a href="#">March 2014</a></li>#}
{#            <li><a href="#">February 2014</a></li>#}
{#            <li><a href="#">January 2014</a></li>#}
{#            <li><a href="#">December 2013</a></li>#}
{#            <li><a href="#">November 2013</a></li>#}
{#            <li><a href="#">October 2013</a></li>#}
{#            <li><a href="#">September 2013</a></li>#}
{#            <li><a href="#">August 2013</a></li>#}
{#            <li><a href="#">July 2013</a></li>#}
{#            <li><a href="#">June 2013</a></li>#}
{#            <li><a href="#">May 2013</a></li>#}
{#            <li><a href="#">April 2013</a></li>#}
{#        </ol>#}
{#    </div>#}
    <div class="sidebar-module">
        <h3 class="underlined">Linki</h3>
        <ol class="sidebar-list">
            <li><a href="https://github.com/Trancever">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/dawid-urbaniak-a21940127/">Linkedin</a></li>
        </ol>
    </div>
</div><!-- /.blog-sidebar -->