<div class="col-sm-3 col-sm-offset-1">
    <div class="sidebar-module white-box">
        <h3 class="underlined">O mnie</h3>
        <p>Cześć! Nazywam sie Dawid, jestem junior programistą, studiuję informatykę na
            politechnice łódzkiej, zawodowo programuję w C++. W niedalekiej przyszłości mam zamiar zacząć
            przygodę z programowaniem webowym. Pierwszym krokiem było napisanie tego bloga przy użyciu
            frameworku "Django".</p>
    </div>
    <div class="sidebar-module">
        <h3 class="underlined">Linki</h3>
        <div class="row padding-sides-15">
            <a style="font-size: 50px;" class="fa fa-github" href="https://github.com/Trancever"></a>
        </div>
        <div class="row padding-sides-15">
            <a style="font-size: 50px;" class="fa fa-linkedin"
               href="https://www.linkedin.com/in/dawid-urbaniak-a21940127/"></a>
        </div>
    </div>
</div><!-- /.blog-sidebar -->
